services:
  db:
    image: mysql:8.0
    container_name: insurance-db
    restart: always
    environment:
      MYSQL_DATABASE: insurance_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build:
      context: ./backend/insurance-app
      dockerfile: Dockerfile
    image: haasif/insurance-backend:latest
    container_name: insurance-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/insurance_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend/insurance-uifinaltestonvalidatorsinside
      dockerfile: Dockerfile
    image: haasif/insurance-frontend:latest
    container_name: insurance-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql-data:
